In [1]:
# importing the modules used for file handling
import pandas as pd

In [2]:
# function to read in data files
def file_reading(data):
    file = pd.read_csv(f"{data}")
    
    return file.head()

In [3]:
set1 = file_reading("data/arabica_data_cleaned.csv")
set1

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,2,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,3,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,4,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,5,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [4]:
set2 = file_reading("data/robusta_data_cleaned.csv")
set2

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,1,Robusta,ankole coffee producers coop,Uganda,kyangundu cooperative society,NaN,ankole coffee producers,0,ankole coffee producers coop,1488,...,Green,2,"June 26th, 2015",Uganda Coffee Development Authority,e36d0270932c3b657e96b7b0278dfd85dc0fe743,03077a1c6bac60e6f514691634a7f6eb5c85aae8,m,1488.0,1488.0,1488.0
1,2,Robusta,nishant gurjer,India,sethuraman estate kaapi royale,25,sethuraman estate,14/1148/2017/21,kaapi royale,3170,...,NaN,2,"October 31st, 2018",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,3170.0,3170.0,3170.0
2,3,Robusta,andrew hetzel,India,sethuraman estate,NaN,NaN,0000,sethuraman estate,1000m,...,Green,0,"April 29th, 2016",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,1000.0,1000.0,1000.0
3,4,Robusta,ugacof,Uganda,ugacof project area,NaN,ugacof,0,ugacof ltd,1212,...,Green,7,"July 14th, 2015",Uganda Coffee Development Authority,e36d0270932c3b657e96b7b0278dfd85dc0fe743,03077a1c6bac60e6f514691634a7f6eb5c85aae8,m,1212.0,1212.0,1212.0
4,5,Robusta,katuka development trust ltd,Uganda,katikamu capca farmers association,NaN,katuka development trust,0,katuka development trust ltd,1200-1300,...,Green,3,"June 26th, 2015",Uganda Coffee Development Authority,e36d0270932c3b657e96b7b0278dfd85dc0fe743,03077a1c6bac60e6f514691634a7f6eb5c85aae8,m,1200.0,1300.0,1250.0

In [5]:
set1.shape

(5, 44)

In [6]:
set1.shape

(5, 44)

In [7]:
# lookling at all the columns in each dataset
set1.columns

Index(['Unnamed: 0', 'Species', 'Owner', 'Country.of.Origin', 'Farm.Name',
       'Lot.Number', 'Mill', 'ICO.Number', 'Company', 'Altitude', 'Region',
       'Producer', 'Number.of.Bags', 'Bag.Weight', 'In.Country.Partner',
       'Harvest.Year', 'Grading.Date', 'Owner.1', 'Variety',
       'Processing.Method', 'Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body',
       'Balance', 'Uniformity', 'Clean.Cup', 'Sweetness', 'Cupper.Points',
       'Total.Cup.Points', 'Moisture', 'Category.One.Defects', 'Quakers',
       'Color', 'Category.Two.Defects', 'Expiration', 'Certification.Body',
       'Certification.Address', 'Certification.Contact', 'unit_of_measurement',
       'altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters'],
      dtype='object')

In [8]:
set2.columns

Index(['Unnamed: 0', 'Species', 'Owner', 'Country.of.Origin', 'Farm.Name',
       'Lot.Number', 'Mill', 'ICO.Number', 'Company', 'Altitude', 'Region',
       'Producer', 'Number.of.Bags', 'Bag.Weight', 'In.Country.Partner',
       'Harvest.Year', 'Grading.Date', 'Owner.1', 'Variety',
       'Processing.Method', 'Fragrance...Aroma', 'Flavor', 'Aftertaste',
       'Salt...Acid', 'Bitter...Sweet', 'Mouthfeel', 'Uniform.Cup',
       'Clean.Cup', 'Balance', 'Cupper.Points', 'Total.Cup.Points', 'Moisture',
       'Category.One.Defects', 'Quakers', 'Color', 'Category.Two.Defects',
       'Expiration', 'Certification.Body', 'Certification.Address',
       'Certification.Contact', 'unit_of_measurement', 'altitude_low_meters',
       'altitude_high_meters', 'altitude_mean_meters'],
      dtype='object')

In [9]:
# looking at each datasests for checking data
set1.info()
# some data is missing from different columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             5 non-null      int64
 1   Species                5 non-null      object
 2   Owner                  5 non-null      object
 3   Country.of.Origin      5 non-null      object
 4   Farm.Name              5 non-null      object
 5   Lot.Number             0 non-null      object
 6   Mill                   4 non-null      object
 7   ICO.Number             3 non-null      object
 8   Company                4 non-null      object
 9   Altitude               5 non-null      object
 10  Region                 4 non-null      object
 11  Producer               4 non-null      object
 12  Number.of.Bags         5 non-null      int64
 13  Bag.Weight             5 non-null      object
 14  In.Country.Partner     5 non-null      object
 15  Harvest.Year           4 non-null      object
 16  Grading.Date           5 non-null      object
 17  Owner.1                5 non-null      object
 18  Variety                3 non-null      object
 19  Processing.Method      4 non-null      object
 20  Aroma                  5 non-null      float64
 21  Flavor                 5 non-null      float64
 22  Aftertaste             5 non-null      float64
 23  Acidity                5 non-null      float64
 24  Body                   5 non-null      float64
 25  Balance                5 non-null      float64
 26  Uniformity             5 non-null      float64
 27  Clean.Cup              5 non-null      float64
 28  Sweetness              5 non-null      float64
 29  Cupper.Points          5 non-null      float64
 30  Total.Cup.Points       5 non-null      float64
 31  Moisture               5 non-null      float64
 32  Category.One.Defects   5 non-null      int64
 33  Quakers                5 non-null      float64
 34  Color                  4 non-null      object
 35  Category.Two.Defects   5 non-null      int64
 36  Expiration             5 non-null      object
 37  Certification.Body     5 non-null      object
 38  Certification.Address  5 non-null      object
 39  Certification.Contact  5 non-null      object
 40  unit_of_measurement    5 non-null      object
 41  altitude_low_meters    5 non-null      float64
 42  altitude_high_meters   5 non-null      float64
 43  altitude_mean_meters   5 non-null      float64
dtypes: float64(16), int64(4), object(24)
memory usage: 1.8+ KB

In [10]:
set2.info()
# some data is missing from different columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             5 non-null      int64
 1   Species                5 non-null      object
 2   Owner                  5 non-null      object
 3   Country.of.Origin      5 non-null      object
 4   Farm.Name              5 non-null      object
 5   Lot.Number             1 non-null      object
 6   Mill                   4 non-null      object
 7   ICO.Number             5 non-null      object
 8   Company                5 non-null      object
 9   Altitude               5 non-null      object
 10  Region                 5 non-null      object
 11  Producer               5 non-null      object
 12  Number.of.Bags         5 non-null      int64
 13  Bag.Weight             5 non-null      object
 14  In.Country.Partner     5 non-null      object
 15  Harvest.Year           5 non-null      int64
 16  Grading.Date           5 non-null      object
 17  Owner.1                5 non-null      object
 18  Variety                0 non-null      object
 19  Processing.Method      1 non-null      object
 20  Fragrance...Aroma      5 non-null      float64
 21  Flavor                 5 non-null      float64
 22  Aftertaste             5 non-null      float64
 23  Salt...Acid            5 non-null      float64
 24  Bitter...Sweet         5 non-null      float64
 25  Mouthfeel              5 non-null      float64
 26  Uniform.Cup            5 non-null      float64
 27  Clean.Cup              5 non-null      float64
 28  Balance                5 non-null      float64
 29  Cupper.Points          5 non-null      float64
 30  Total.Cup.Points       5 non-null      float64
 31  Moisture               5 non-null      float64
 32  Category.One.Defects   5 non-null      int64
 33  Quakers                5 non-null      int64
 34  Color                  4 non-null      object
 35  Category.Two.Defects   5 non-null      int64
 36  Expiration             5 non-null      object
 37  Certification.Body     5 non-null      object
 38  Certification.Address  5 non-null      object
 39  Certification.Contact  5 non-null      object
 40  unit_of_measurement    5 non-null      object
 41  altitude_low_meters    5 non-null      float64
 42  altitude_high_meters   5 non-null      float64
 43  altitude_mean_meters   5 non-null      float64
dtypes: float64(15), int64(6), object(23)
memory usage: 1.8+ KB

In [11]:
# now actually checking for missing data
set1.isnull()

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,True,True,True,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
set2.isnull()

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
# fixing error: *ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat*
set2["Harvest.Year"] = set2["Harvest.Year"].astype(str)
set2["Quakers"] = set2["Quakers"].astype(float)

# now time to merge the 2 sets together so I have one file for both
def file_merge(file1, file2):
    final_set = pd.merge(file1, file2, how = "left")
    
    return final_set.head()

main_data_set = file_merge(set1, set2)
main_data_set

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters,Fragrance...Aroma,Salt...Acid,Bitter...Sweet,Mouthfeel,Uniform.Cup
0,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0,NaN,NaN,NaN,NaN,NaN
1,2,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0,NaN,NaN,NaN,NaN,NaN
2,3,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0,NaN,NaN,NaN,NaN,NaN
3,4,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0,NaN,NaN,NaN,NaN,NaN
4,5,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0,NaN,NaN,NaN,NaN,NaN