In [1]:
# importing the modules used for file handling
import pandas as pd

In [2]:
# function to read in data files
def file_reading(data):
    file = pd.read_csv(f"{data}")
    
    return file.head()

In [25]:
coffee_data = file_reading("data/merged_data_cleaned.csv")
coffee_data.head()

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,0,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,2,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,3,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,4,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [29]:
# looking at the statistics of the data set
coffee_data.describe()

,Unnamed: 0,Number.of.Bags,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean.Cup,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,Category.One.Defects,Quakers,Category.Two.Defects,altitude_low_meters,altitude_high_meters,altitude_mean_meters
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.0,5.0,5.0,5.000000,5.000000,5.000000,5.0,5.0,5.0,5.00000,5.000000,5.000000
mean,2.000000,245.000000,8.452000,8.616000,8.452000,8.534000,8.434000,8.368000,10.0,10.0,10.0,8.766000,89.616000,0.094000,0.0,0.0,1.0,1850.00000,2120.000000,1985.000000
std,1.581139,134.443297,0.253811,0.138672,0.152217,0.137768,0.070569,0.076616,0.0,0.0,0.0,0.279696,0.713604,0.052726,0.0,0.0,1.0,154.11035,178.885438,162.596125
min,0.000000,5.000000,8.170000,8.500000,8.250000,8.420000,8.330000,8.250000,10.0,10.0,10.0,8.580000,88.830000,0.000000,0.0,0.0,0.0,1600.00000,1800.000000,1700.000000
25%,1.000000,300.000000,8.250000,8.500000,8.420000,8.420000,8.420000,8.330000,10.0,10.0,10.0,8.580000,89.000000,0.110000,0.0,0.0,0.0,1800.00000,2200.000000,2000.000000
50%,2.000000,300.000000,8.420000,8.580000,8.420000,8.500000,8.420000,8.420000,10.0,10.0,10.0,8.670000,89.750000,0.120000,0.0,0.0,1.0,1950.00000,2200.000000,2075.000000
75%,3.000000,300.000000,8.670000,8.670000,8.500000,8.580000,8.500000,8.420000,10.0,10.0,10.0,8.750000,89.920000,0.120000,0.0,0.0,2.0,1950.00000,2200.000000,2075.000000
max,4.000000,320.000000,8.750000,8.830000,8.670000,8.750000,8.500000,8.420000,10.0,10.0,10.0,9.250000,90.580000,0.120000,0.0,0.0,2.0,1950.00000,2200.000000,2075.000000

In [34]:
# seeing if any information is missing
coffee_data.isnull().head()

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,True,True,True,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [37]:
# removing the missing data if not important
coffee_data.drop("Lot.Number", axis = 1, inplace = True)
coffee_data.drop("Mill", axis = 1, inplace = True)
coffee_data.drop("ICO.Number", axis = 1, inplace = True)
coffee_data.drop("Color", axis = 1, inplace = True)

In [38]:
# checking if columns are dropped
coffee_data.head()

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Company,Altitude,Region,Producer,Number.of.Bags,...,Quakers,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,0,Arabica,metad plc,Ethiopia,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,...,0.0,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,1,Arabica,metad plc,Ethiopia,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,...,0.0,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,2,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,1600 - 1800 m,NaN,NaN,5,...,0.0,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,3,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,320,...,0.0,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,4,Arabica,metad plc,Ethiopia,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,...,0.0,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0